html {
  height: 100%;
  background-color: rebeccapurple;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
  cursor: none;
}
