html {
  height: 100%;
  background-color: rebeccapurple;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid black;
}

section {
  display: flex;
  justify-content: space-between;
  width: 600px;
  gap: 20px;
  margin-bottom: 10px;
}
button {
  flex-grow: 1;
}
